/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: lightblue;
    color: #334aaf;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #13416e;
    font-size: 50px;
}

h3 {
    margin-bottom: 15px;
    text-align: center;
    color: #13416e;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
    text-align: center;
}

a:hover {
    color: #519db4;
}

/* Tombol Tambah Buku */
a.button {
    display: inline-block;
    padding: 10px 15px;
    background: #1abc9c;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.3s;
}



/* Form Pencarian */
form {
    margin-bottom: 20px;
    text-align: center;
}


form input[type="text"] {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button, form a {
    padding: 8px 12px;
    margin-left: 5px;
    background: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #36a790;
}


form a {
    background: #e74c3c;
}



/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table thead {
    background: #519db4;
    color: #fff;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td a {
    color: #2980b9;
}
